/* Your styles here */
/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');

body{
    width: 100%;
    /*border: 1px solid black;*/
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: #393d31;
}
/* Header */
.logo-div{
    background-color: black;
    padding: 0;
    width: 100%;
    height: 116px;
    text-align: left;
    margin-bottom: 25px;
}

.logo1{
    width: 150px;
    padding: 35px;
    
    
    

}
/*MAIN*/

h1{
    color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 5px;

    line-height: 1;
}

.p1{
    padding-left: 20px;
    padding-right: 80px;
    line-height: 1.65;
    font-size: 1rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
    padding-top: 55px;
    font-size: 2.2rem;
    padding-bottom: 30px;
}
label{
    font-size: 1rem;
    
    
}
.div-input{
    margin: 20px;
}
input{
    size: 50px;
}
.div-form{
    /*border:1px solid;*/
    height: 600px;
    width: 40%;
    margin: auto;
    border-radius: 25px;
    box-shadow: -4px 4px 5px #666;

}
button{
    background-color: #25a2c3;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border:0;
    box-shadow: 0 0 2px #666;
    
}



/*FOOTER*/
.foot-div{
    height: 300px;
    background-color: #25a2c3;
    color: white;
    margin-top: 25px;
    padding-left: 400px;
    padding-right: 400px;
}

.contacts{
    text-decoration: underline;
    color: #c8e7f0;
}
.foot-p{
    line-height: 1.5;
    text-align: left;
    padding-left: 60px;
    font-size: 1rem;
    padding-left: 120px;
}
.contacts2{
    text-decoration: none;
    color: #c8e7f0;
    
}
hr{
    width: 220px;
    height: 1px;
    margin-top: 20px;
    background-color: white;
    border: none;
    margin-bottom: 40px;
    margin-right: 100px;
}
.small-pp{
    font-style: normal;
    font-size: 13px;
    text-align: center;
}