@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Monoton&family=Press+Start+2P&display=swap');/* @keyframes fadeIn {
    0% { opacity: 1; }//effetto inizio animazione
    20% { opacity: 0.5; }
    40% { opacity: 0; }
    60% { opacity: 0.5; }
    100% { opacity: 1; }//effetto fine animazione
  }
    
*/

body{
    text-align: center;
    width: 500px;
    /*border: 1px solid black;*/
    margin: auto;
    padding-bottom: 50px;
    padding-top: 10px;
    

}

#complete{ /* GOD DIV */
    background-image: url('../media/bg4.gif'); /* aggiungo al mio div completo la gif per lo sfondo. */
    background-size: cover; 
    width: 500px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 50px 90px;
    cursor: url('../media/point1.png'), auto; /* imposto un cursore personalizzato */
    
}

/*Header*/
h1{/*Titolo Pagina*/
    font-size: 3.2rem;
    text-align: center;
    color: white;
    font-family: 'Monoton', cursive; /*font per il titolo*/
    
}
h1:hover{
    background-image: url('../media/cool.gif');/*quando passo sopra sul h1 aggiunge una gif sopra l'h1.*/
    background-size: cover;/*Copre tutto l'h1 con la gif,*/
    -webkit-background-clip: text; /* appiccica la gif al titolo, questo comando ha bisogno del prefisso webKit per renderlo compatibile su chrome, firefox e safari*/
    -webkit-text-fill-color: transparent;/*Infine rende trasparente i punti in cui non è presente del testo*/
    cursor: url('../media/hand.png'), auto;/*imposto un altro cursore personalizzato per le cose cliccabili*/
    
}
#link1{
    text-decoration: none; /*tolgo la sottolineatura al link del h1*/
}

#titolo{ /*div del header*/
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 3.5rem;
    text-align: center;   
}


#sus{ /*da ignorare*/
    object-fit: contain;
    height: 104px;
    border-radius: 15px;
    margin:0;
}



#container{/* div Parent della Visuale*/
    margin: auto;
    width: 408px;
    position: relative;
    border:1px solid white;
    border-radius: 15px;

}

#container #visuale{/*Input test per la Visuale*/
     /*border: 1px solid red;*/
     border-radius: 15px;
     width: 400px;
     height: 100px;
     font-size: 3rem;
     font-family: 'Press Start 2P',cursive; /*font della Visuale*/
     background: linear-gradient(to right, #c73c3c 0% 1em, #c29a2c  1em 2em, #58af59 1em 3em, #4dbbc5 1em 4em, #2d2c74 1em 5em, #7b2e82 1em 6em,
      #552640 1em 100%);
      /*^Ho usato lo stesso metodo delle gif, e la linear-gradient per cambiare il colore di ogni lettera^*/
      -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     caret-color: white;/*per rendere la linea del caret bianca*/
    /* border: none;*/
     border: none;  /*annullo le impostazioni di default dei input text*/
     resize: none;
     outline: none;
     

}

#container #invisible{/*da ignorare*/
    position:absolute;
    right:0;
    top:0;
    border-radius: 15px;
    width: 405px;
    margin: auto;
    display: none; 
}

/*MAIN*/

.special{/*classe delle div nascoste*/
    border: 1px solid white;
    width: 60px;
    height: 60px;
    text-align: center;
    color: white;
    font-family: 'Press Start 2P',cursive;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    background:
    linear-gradient(-45deg, #ffffff  20%, #000000 0 20%, #ffffff  0) right/300% 100% no-repeat,
    linear-gradient(-45deg, #ffffff00 50%, #7e7e7e 0 60%, #ffffff00 0) right/400% 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s; /*per rendere transizione che avviene al passo del mouse in 0.5s*/
    
}

.special:hover{
    background-position: left;/*sposta la background a sinistra*/
    cursor: url('../media/hand.png'), auto;/* aggiungo cursore personalizzato*/
}

#ghost{
    border: 0;
    background: none;
}

.smol{/*classe dei caratteri mathematici*/
    font-size: 1.1rem;
    padding-top: 18px;
}


.num{/*classe dei div che del main*/
    width: 101px;
    /*height: 111px;*/
    color: white;
    /*border: 1px solid white;*/
    border-radius: 10px;
    background:
    linear-gradient(-45deg, #ffffff  20%, #000000 0 20%, #ffffff  0) right/300% 100% no-repeat,
    linear-gradient(-45deg, #ffffff00 50%, #7e7e7e 0 60%, #ffffff00 0) right/400% 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s
    /*^stesse cose che c'erano prima nella div nascosta^*/
}
.num:hover{
    background-position: left;
    cursor: url('../media/hand.png'), auto;
}


main{/*modifiche generali al main*/
    padding-bottom: 25px;
    padding-top: 30px;
    
}

#nascondi{/*div Parent delle div nascoste*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: none; /*Per non Mostrarle*/
}

#tot{/*div parent di tutti i div per i calcoli*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    
}
.valore{/*classi dei paragrafi per modificare la dimensione e centrare*/
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;

    
    
}

#del{/*modifiche del paragrafo col simbolo del backspace*/
    margin-top:27px;
    margin-right: 6px;
}

#enlarge{/*modifiche del paragrafo col simbolo di ingrandire*/
    
    margin-right: 6px;
    margin: 0;
    margin-top: 5px;
    font-size: 4rem;
}

/*FOOTER*/

.feet{/*Div del Footer*/
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-top: 1px solid white;
    font-size: 0.7rem;
    text-align: center;
    color: white;
    font-family: 'Monoton', cursive;
}
#pFeet{/*paragrafo del footer*/
    margin-top: 30px;
    opacity: 0.6 ; 
}

